* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* -- Texto -- */
.texto {
    font-family: 'Poppins', sans-serif;
}
/* -- Cierro Texto -- */

/* -- FOOTER -- */
footer {
    text-align: center;
    margin: 20px;

    a {
        padding: 15px;
    }
}
/* -- Cierro Footer -- */

/* Carousel */
.carousel-margin {
    margin-bottom: 30px;
}
/* Cierro Carousel */

/* -- Página Quienes somos -- */
@media (min-width: 400px) {
    .contenido {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .foto-grande {
        width: 30%;
    }
}
/* -- Cierro Página Quienes somos -- */

/* -- Cierro Mapas -- */
form {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* -- Planes -- */
@media (min-width: 768px) {
    .planes {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .planes {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/* -- Cierro Planes -- */
