    footer {
        text-align: center;
        padding: 20px;
        background-color: #038C8C;
        position: static;
        bottom: 0;
        width: 100%;
        

        a {
            padding: 15px;
        }
    }
